a {     /* removes underline from nav bar links */
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

.container {              /* all the containers in the home page */
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {  /* keeps main front image/container size in check */
  .container {
    max-width: 1140px;
  }
}

.btn {                    /* makes the start shopping! button rounded */
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {            /* removes underline when hovering over start shopping! button */
  color: #212529;
  text-decoration: none;
}

.btn-primary {              /* makes letters in start shoping white */
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {         /* makes letters in start shoping white when hovering */
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.nav-link:hover, .nav-link:focus {  /* removes underline in nav bar links */
  text-decoration: none;
}

.navbar-nav {                   /*has the links in nav bar in a single line */
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

@media (min-width: 992px) {   /*need this but go through in the end */
  .navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}

@media (min-width: 992px) { /* dont know what this is but apparently need it */
  .d-lg-none {
    display: none !important;
  }
  .d-lg-inline {
    display: inline !important;
  }
  .d-lg-inline-block {
    display: inline-block !important;
  }
  .d-lg-block {
    display: block !important;
  }
  .d-lg-table {
    display: table !important;
  }
  .d-lg-table-row {
    display: table-row !important;
  }
  .d-lg-table-cell {
    display: table-cell !important;
  }
  .d-lg-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-lg-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

.sr-only {              /* this is also needed try to maybe change it later */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.p-5 {                      /* keeps clear box in shape */
  padding: 3rem !important;
}

.mr-auto,                         /* keeps nav bar centered */
.mx-auto {
  margin-right: auto !important;
}

.ml-auto,                         /* keeps nav bar centered */
.mx-auto {
  margin-left: auto !important;
}

.pt-lg-4,                        /* nav bar padding above words */
.py-lg-4 {
  padding-top: 0.8rem !important;
}

.pr-lg-4,                       /* nav bar padding right of words */
.px-lg-4 {
  padding-right: 1.5rem !important;
}

.pb-lg-4,                         /* nav bar padding below words */
.py-lg-4 {
  padding-bottom: 1.5rem !important;
}

.pl-lg-4,                         /* nav bar padding left of words */
.px-lg-4 {
  padding-left: 1.5rem !important;
}

.text-center {                    /* keeps text box centered */
  text-align: center !important;
}

.text-uppercase {                     /* needed for nav bar text */
  text-transform: uppercase !important;
}

.text-white {         /* main hesding text is white */
  color: #fff !important;
}
